@import "_variable.scss";

.btn__220-50{
    @extend %btn-220-50;
    .button__text-220-50{
       @extend %btn-text-220-50;
       
        transition: color 0.5s;
       &:hover{
        color: white;
       }
    }
    &:hover{
        @extend %btn-220-50--hover;
    }
}

.button__theme{
    @extend %btn-theme;
    .theme__text{
        @extend %btn-theme-text;
    }
}

.btn__160-70{
    @extend %btn-160-70;
    .button__text-160-70{
        @extend %btn-text-160-70;
    }
}
.btn__130-60{
    @extend %btn-130-60;
    .button__text-130-60{
        @extend %btn-text-130-60;

        transition: color 0.5s;
        &:hover{
         color: white;
        }
    }
    &:hover{
        @extend %btn-130-60--hover;
    }
}
.btn__110-50{
    @extend %btn-110-50;
    .button__text-110-50{
        @extend %btn-text-110-50;
    }
}
.btn__130-30{
    @extend %btn-130-30;
    .button__text-130-30{
        @extend %btn-text-130-30;
    }
}
.btn__50-30{
    @extend %btn-50-30;
   .button__text-50-30{
    @extend %btn-text-50-30;

    transition: color 0.5s;
    &:hover{
     color: white;
    }
   } 
   &:hover{
       @extend %btn-50-30--hover;
   }
}

.ellipce__big{
    @extend %ellipce-big-primery;
}
.ellipce__small{
    @extend %ellipce-small;
}

.form{

    &__field{
        @extend %form;
    }
    &__text{
        @extend %form-text;
    }
    &__border{
        @extend %form-border;
    }
    &__title{
        @extend %form-title;
    }
}